 body {
     font-family: Arial, sans-serif;
     text-align: center;
     margin: 0;
     padding: 0;
     background-color: #f4f4f9;
 }

 h1 {
     color: #333;
     margin-top: 20px;
 }

 #webcam-container {
     margin: 20px auto;
     border: 2px solid #ddd;
     width: 410px;
     height: 410px;
     background-color: #fff;
     display: flex;
     justify-content: center;
     align-items: center;
     border-radius: 10px;
     overflow: hidden;
 }

 #label-container {
     margin: 20px auto;
     width: 50%;
     background-color: #fff;
     padding: 10px;
     border-radius: 10px;
     box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
     text-align: left;
     display: none;
 }

 #label-container div {
     padding: 5px;
     font-size: 16px;
     color: #333;
     border-bottom: 1px solid #ddd;
 }

 #label-container div:last-child {
     border-bottom: none;
 }

 button {
     background-color: #007BFF;
     color: white;
     padding: 10px 20px;
     border: none;
     border-radius: 5px;
     font-size: 16px;
     cursor: pointer;
     margin: 20px 0;
     transition: background-color 0.3s;
 }

 button:hover {
     background-color: #0056b3;
 }

 button:focus {
     outline: none;
 }

 